{% extends "base.html" %}

{% block content %}
    <table>
        <tr>
            <td><img alt="gravatar" src="{{ user.avatar(128) }}" width="128" height="128"/></td>
            <td><h1>User: {{ user.username }}</h1></td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        <table>
            <tr>
                <td><img alt="author_gravatar" src="{{ post.author.avatar(36) }}" width="36" height="36"/> </td>
                <td>{{ post.author.username }} says: {{ post.body }}</td>
            </tr>

        </table>
    {% endfor %}
{% endblock %}