{% extends "base.html" %}

{% block content %}
    <table>
        <tr>
            <td><img alt="gravatar" src="{{ user.avatar(128) }}" width="128" height="128"/></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last Seen: {{ user.last_seen }}</p>{% endif %}
                <p>Followed by {{ user.followers.count() }}</p>
                <p>Follows {{ user.followed.count() }}</p>
                {% if user == current_user %}
                    <p><a href="{{ url_for('edit_profile') }}">Edit Your Profile</a></p>
                {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('follow', username=user.username) }}">Follow {{ user.username }}</a></p>
                {% else %}
                    <p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow {{ user.username }}</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
{% endblock %}